# JuniperEngine .gitignore

# ========================================
# Silly OS stuff
# ========================================
# MacOS directory thingy
.DS_Store

# ========================================
# Visual Studio Code
# ========================================
.vscode

# ========================================
# CMake files
# ========================================
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
